<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="static/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Books</h2>
  <p></p>            
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ISBN</th>
        <th>Title</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
     {% for row in response %}
      <tr>
        <td>{{row['ISBN-13']}}</td>
        <td>{{row['title']}}</td>
        <td>{{row['price']}}</td>
      </tr>
     {% endfor %}
    </tbody>
  </table>
</div>

</body>
</html>
