<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="static/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Accomodation listings</h2>
  <p></p>            
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Reviews</th>
      </tr>
    </thead>
    <tbody>
     {% for row in response['results'] %}
      <tr>
        <td>{{row['name']}}</td>
        <td>{{row['description']}}</td>
        <td>{{row['price']}}</td>
        <td><a href={{ url_for('get_review_by_id',listing_id=row['id'])}}>{{row['number_of_reviews']}}</a></td>
      </tr>
     {% endfor %}
    </tbody>
  </table>
</div>

</body>
</html>
