<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="static/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Book order status</h2>
  <p></p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>order-id</th>
        <th>custormer-email</th>
        <th>order-status</th>
        <th>fullfill order</th>
      </tr>
    </thead>
    <tbody>
     {% for row in response %}
      <tr>
        <td>{{row['order_id']}}</td>
        <td>{{row['order_dtl']['email']}}</td>
        <td>{{row['status']}}</td>
        <td>
          {% if row['status']|string == 'Initiated'|string %}
          <form action=/fullfillorder method="POST">
            <input type="hidden" id="order_id" name="order_id" value={{row['order_id']}}>
            <button type="submit" name="submit_order" value="submit_order" class="btn btn-primary float-right active" >Full Fill Order</button>
           </form>
           {% endif %}
        </td>
      </tr>
     {% endfor %}
    </tbody>
  </table>
</div>

</body>
</html>
