<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Elfs Book Store</title>
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/md5.min.js"></script>
</head>
<body>

<form action="/login" id="loginForm">
  <input type="text" name="email" placeholder="email">
  <input type="password" placeholder="Password" name="password">
  <input type="submit" value="Login">
</form>
<!-- the result of the search will be rendered inside this div -->
<div id="result"></div>

<script>
// Attach a submit handler to the form
$( "#loginForm" ).submit(function( event ) {

  // Stop form from submitting normally
  event.preventDefault();


  // Get some values from elements on the page:
  var $form = $( this ),
    emailid= $form.find( "input[name='email']" ).val(),
    pwd= $form.find( "input[name='password']" ).val(),
    url = $form.attr( "action" );

  var passhash = CryptoJS.MD5(pwd).toString();
  //alert(passhash);

  // Send the data using post
  var posting = $.post( url, { username: emailid, password: passhash},
                function(data, status){
                  //console.log("Data: " + data + "\nStatus: " + status);
                  document.location = "order"
                });

  // Put the results in a div
  posting.done(function( data ) {
    var content = $( data ).find( "#content" );
    $( "#result" ).empty().append( content );
iii  });
});
</script>

</body>
</html>

<!--

<html>
  <head>
    <title>Flask Intro - login page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Please login</h1>
      <br>
      <form action="" method="post">
        <input type="text" placeholder="Username" name="username" value="{{
          request.form.username }}">
         <input type="password" placeholder="Password" name="password" value="{{
          request.form.password }}">
        <input class="btn btn-default" type="submit" value="Login">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
  </body>
</html>
-->
